@media screen and (max-width: 600px) {
  .manu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  label {
    display: inline-flex;
  }
  #toogler:checked ~ .manu {
    max-height: 100%;
  }
  .fa-bars {
    font-size: 40px;
  }
  .nav-bar{
    margin: 0 auto;
    width: 300px;
  }
  .icon{
    font-size: 20px;
    font-weight: 800;
  }
  .banner-info {
    width: 335px;
    height: 520px;
    border-radius: 16px;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .banner-description {
    width: 300px;
    margin-bottom: 10px;
  }
  .banner-info ul,
  input button {
    flex-direction: column;
    width: 287px;
    gap: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 16px;
  }
  /* tour section  */
  .tours {
    flex-direction: column;
    gap: 24px;
  }
  .tour-info {
    margin: 10px;
    width: 335px;
  }
  .tour-title {
    color: black;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
  }
  .tour-description {
    width: 335px;
  }
  /* destination section  */
  .destination-info .dest-description,
  .destination {
    width: 300px;
    text-align: center;
  }
  .destination-img {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .destination {
    margin: 0 auto;
  }
  .box1 > h2 {
  }
  /* choose section  */
  .choose-info {
    margin-top: 20px;
  }
  .choose-info > .tour-title {
    text-align: center;
  }
  .choosing-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .choose-description {
    width: 270px;
    margin-top: 10px;
    margin: 0 auto;
  }
  .choose-card-1,
  .choose-card-2,
  .choose-card-3 {
    width: 335px;
    height: 300px;
    margin-bottom: 20px;
  }
  .card {
    padding: 10px;
  }
  .card img {
    margin-bottom: 10px;
  }
  .deals-info {
    margin-top: 10px;
    margin: 0 auto;
    width: 300px;
  }
  .deals-info > .tour-title {
    text-align: center;
  }
  .tour-container-1,
  .tour-container-2,
  .tour-container-3 {
    width: 335px;
    height: 500px;
    border-radius: 16px;
    margin-bottom: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .tour-info-1 {
    width: 300px;
    height: 297px;
    position: relative;
    left: -40px;
    top: 120px;
    overflow: hidden;
    padding: 10px;
  }
  .tour-info-2 {
    width: 300px;
    height: 297px;
    position: relative;
    left: -40px;
    top: 100px;
    overflow: hidden;
    padding: 10px;
  }
  .tour-info-3 {
    width: 300px;
    height: 297px;
    position: relative;
    left: -40px;
    top: 110px;
    overflow: hidden;
    padding: 10px;
  }
  .deals-info > p {
    margin-bottom: 10px;
  }
  .coxbazar {
    border-radius: 16px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
  }
  .coxbazar > ul > li > .fa-solid {
    font-size: 10px;
  }
  .coxbazar > ul > li {
    font-size: 10px;
  }
  .coxbazar > button {
    width: 130px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
  }
  /* perfect  */
  .newslerer-container{
    margin: 0 auto;
  }
  .perfect-area {
    flex-direction: column;
    margin: 10px 0 10px 0;
  }
  .perfect-info .perfect-description {
    width: 250px;
    font-size: 14px;
  }
  .perfect-info> .tour-title{
    width: 280px;
  }
  .perfect-info > ul > li {
    width: 250px;
    font-size: 14px;
    font-weight: 700;
  }
  .perfect-info > button {
    width: 150px;
    height: 52px;
    font-size: 20px;
    font-weight: 800;
    
  }
  .perfect-img video{
    width: 260px;
    border-radius: 16px;
  }
  /* newest sec  */
  .newslerer-container {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .news-info{
    width: 260px;
  }
  .news-img img{
    width:260px ;
  }
  .travel-save{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 500px;
    left: 200px;
    padding-top: 10px ;
  }
  .travel-save>h4{
font-size: 15px;
font-weight: 400;
  }
  .travel-save>h1{
font-size: 20px;
font-weight: 800;
  }
  .newslerer-container{
margin: 0 auto;
  }
  .news-info input{
   
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .news-info .news-form{
    width: 220px;
  }
  .news-info .button-news{
    width: 220px;
    font-weight: 700;
    font-size: 15px;
    
  }
  .news-info>.news-hr {
    width: 220px;
    height: 1px;
    margin: 10px auto;
  }
  /* footer  */
  footer{
    width: 335px;
  }
  hr{
    width:335px ;
  }
  .footer-info{
padding: 10px 0;
margin: 0 auto;
  }
  .title-and-img>h1{
font-size: 20px;
font-weight: 800px;
margin: 0;
padding: 0;
  }
  .footer-description{
    width: 280px;
    font-size: 14px;

  }
  .footer-info>ul>li{
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
