* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish";
  max-width: 1440px;
  margin: 0 auto;
}
/* nav section  */
header {
}
.nav-bar {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 60px 0;
}
.icon {
  display: flex;
  align-items: center;
  gap: 16px;
}
#toogler,
label {
  display: none;
}
label i {
  color: black;
}
.nav-title {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.tour {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}
.manu > ul {
  display: flex;
  align-items: center;
}
.manu > ul li {
  list-style: none;
  margin-right: 44px;
}
.manu > ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}
.manu ul .home-color a {
  color: #ff5400;
  font-weight: 700;
}
/* banner section  */
.banner-info {
  text-align: center;
  background-image: url("../Images/Group 13 (1) (1).png");
  background-repeat: no-repeat;
  background-position: center;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-top: 106px;
  padding-bottom: 24px;
}
.banner-description {
  color: #fff;
  line-height: 26px;
  margin-bottom: 48px;
}
.banner-info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 122px;
}
.banner-info ul li {
  list-style: none;
  margin-right: 24px;
  list-style: none;
  display: inline-flex;
}
.banner-info ul li input,
button {
  width: 174px;
  height: 52px;
  color: rgba(19, 19, 24, 0.5);
  border: 0;
  border-radius: 8px;
}
.banner-info input {
  padding-left: 10px;
}
.fa-angle-down {
  padding-left: 60px;
  font-size: 20px;
}
.fa-angle-down.when {
  padding-left: 90px;
}
.fa-magnifying-glass {
  font-size: 20px;
  padding-right: 10px;
}
.banner-info ul li .btn {
  background-color: #ff5400;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
/* tours section  */
.tours {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 100px;
}
.tour-info {
  margin-right: 50px;
  width: 100%;
}
.tour-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.tour-description {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
  margin-bottom: 24px;
  /* width: 570px; */
}
.tour-info > ul > li {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
  margin-bottom: 24px;
  align-items: center;
}
.tour-info > button {
  background-color: #ff5400;
  color: #fff;
  font-weight: 800px;
  font-size: 20px;
}
.tour-img img {
  width: 100%;
}
/* destination section  */
.destination {
  position: relative;
}

.destination-info {
  text-align: center;
}
.dest-description {
  text-align: center;
  line-height: 26px;
}
.destination-img img {
  width: 100%;
  height: 100%;
}
.destination-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 24px;
  margin-top: 50px;
  position: relative;
}
.box1 {
  grid-column: 1 / span 6;
}

.box2 {
  grid-column: 7/-1;
}

.box3 {
  grid-column: 1 / span 4;
}
.box4 {
  grid-column: 5 / span 5;
}

.box5 {
  grid-column: 10 / span 3;
}

.box6 {
  position: relative;
  grid-column: 1 / span 6;
}
.box7 {
  grid-column: 7 / span5;
}
.destination-card {
  position: relative;
}
.destination-text {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 800;
}

/* choosing section  */
.choose-info {
  margin-top: 100px;
}
.choose-info > .choose-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 50px;
}
.choosing-option {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
}
.choose-card-1 {
  grid-column: 1 / span 6;
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.choose-card-2 {
  grid-column: 7 / span 6;
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose-card-3 {
  grid-column: 4 / span 10;
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.card {
  padding: 30px;
}
.card img {
  margin-bottom: 30px;
}
.card > h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.card > p {
  color: #5a5a5d;
  line-height: 26px;
}

/* Deals and descount section  */
.deals-info {
  margin-top: 100px;
}
.tour-container-1 {
  background-image: url("../Images/Group 39.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 55px;
  position: relative;
  min-height: 500px;
}
.tour-container-2 {
  background-image: url("../Images/Group 39.png");
  background-repeat: no-repeat;
  background-position: center;
  /* padding: 55px; */
  margin: 40px 0;
  position: relative;
  min-height: 500px;
}
.tour-container-3 {
  background-image: url("../Images/Group 39.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 55px;
  margin-bottom: 100px;
  position: relative;
  min-height: 500px;
}
.tour-img {
  width: 100%;
}
.tour-info-1,
.tour-info-3 {
  position: absolute;
  right: 190px;
  max-width: 600px;
  width: 100%;
  min-width: 300px;
  max-height: 700px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 40px;
}
.tour-info-2 {
  position: absolute;
  left: 190px;
  top: 26px;
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 40px;
  margin: 24px 0;
}
.deals-info > p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  line-height: 26px;
  margin-bottom: 45px;
}
.coxbazar > ul {
  display: flex;
  align-items: center;
}
.coxbazar > ul > li {
  list-style: none;
  margin-right: 24px;
  margin-bottom: 10px;
}
.coxbazar > ul > li > .fa-solid {
  color: #ff5400;
  margin-right: 10px;
  font-size: 20px;
}
.coxbazar > h3 {
  margin-bottom: 10px;
}
.coxbazar > p {
  max-width: 450px;
  width: 100%;
}
.coxbazar > h2 {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
}
.coxbazar > button {
  border-radius: 8px;
  background: #ff5400;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  /* margin-bottom: 0px; */
}
/* perfect section  */
.perfect-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 100px 0;
  gap: 28px;
}
.perfect-info > ul li {
  color: #131318;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 24px;
}
.perfect-info > button {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.perfect-description {
  color: #5a5a5d;
  line-height: 26px;
  margin-bottom: 24px;
}
.perfect-img video {
  width: 100%;
}
/* newsletter section  */
.newslerer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  position: relative;
  margin-bottom: 100px;
}
.news-info {
  border: 1px solid #ff5400;
  border-radius: 16px;
  width: 470px;
  height: 420px;
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-info input {
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  /* margin-left: 20px; */
}
.news-info .news-form {
  width: 86%;
  height: 40px;
  border: none;
}
.news-dec {
  color: #5a5a5d;
  line-height: 26px;
}
.news-info .news-hr {
  width: 410px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: left;
}
.news-info .button-news {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  width: 390px;
  height: 50px;
}
.news-img img {
  width: 100%;
}
.travel-save {
  position: absolute;
  right: 50px;
  top: 230px;
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.63deg);
  padding: 20px 0px 0 0;
}
.travel-save > h4 {
  color: #fff;
  text-align: center;
  font-size: 24px;
}
.travel-save > h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
/* footer section  */
footer {
  max-width: 1440px;
  height: 500px;
  background-color: rgba(19, 19, 24, 0.05);
}
.footer-info {
  padding: 110px 0px;
  text-align: center;
}
.title-and-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-description {
  color: #5a5a5d;
  text-align: center;
  line-height: 26px;
  margin: 15px 0 30px 0;
}
.footer-info ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-info ul li {
  list-style: none;
  margin-right: 50px;
  font-size: 50px;
  margin-bottom: 50px;
}
hr {
  width: 870px;
  height: 1px;
  text-align: center;
  background: rgba(19, 19, 24, 0.1);
  margin: 0 auto;
}
.copyright {
  color: #131318;
  font-family: Inter;
  font-weight: 300;
  margin-top: 50px;
}
